/build/
*.suo
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
.vs/
Version.cs
Version.h
Version.cpp
*Resources.resx
Installer/Melodify-cache/
*.[Pp]ublish.xml
*.azurePubxml
*.publishproj
Melodify.csproj.user
